<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>fabric.js-simple text display</title>
    <link rel="stylesheet" href="style/canvas.css">

    <!-- Get version 1.7.21 of Fabric.js from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.7/fabric.min.js" ></script>

    <!-- Get the highest 1.X version of jQuery from CDN. Required for ready() function. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

<body>
    <!-- interactive menu -->
    <div style="display: inline-block; margin-left: 10px">

        <button id="drawing-mode" class="btn btn-info">Enter drawing mode</button>
        <button id="text-mode" class="btn btn-info">Enter text box</button>
        <span class="add-shape-options" style="">
            <label for="shape-selector"></label>
            <select id="shape-selector">
                <option value="default-none">Add shape</option>
                <option value="cir">circle</option>
                <option value="rect">rectangle</option>
            </select>
        </span>
        <button id="delete-objects">Delete selected object(s)</button>
        <button id="clear-canvas" class="btn btn-info">Clear</button>
        <button id="save-canvas"><a id="downloadLnk" download="presentr.jpg">Save drawing</a></button>
        <input id="imageLoader" type="file" name="imageLoader" />
        <br><br>

        <label for="drawing-color">Color:</label>
            <input type="color" value="#000080" id="drawing-color"><br><br>

        <div id="text-mode-options" style="display:none">
            <button id="insert-text">Insert text box</button>
            <input type="text" id="text-value" name="longText" value="AddYourTextHere">
        </div>

        <div id="drawing-mode-options" style="display:none">
            <label for="drawing-mode-selector">Mode:</label>
            <select id="drawing-mode-selector">
              <option>Pencil</option>
              <option>Circle</option>
              <option>Spray</option>
              <option>Pattern</option>

              <option>hline</option>
              <option>vline</option>
              <option>square</option>
              <option>diamond</option>
              <option>texture</option>
            </select><br>

            <label for="drawing-line-width">Line width:</label>
            <span class="info">10</span><input type="range" value="10" min="0" max="150" id="drawing-line-width">

            <label for="drawing-shadow-width">Shadow width:</label>
            <span class="info">0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-width">

            <label for="drawing-shadow-color">Shadow color:</label>
            <input type="color" value=" #080808" id="drawing-shadow-color">

            <label for="drawing-shadow-offset">Shadow offset:</label>
            <span class="info">0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-offset">
          </div>
          <br>

        </div>

        <!-- A canvas tag is required or
             Fabric.js doesn't know where to draw. -->
        <canvas id="c" style="border:1px solid black;" ></canvas>

</body>

<script src="js/canvas.js"></script>
<script src="js/socket.js"></script>

</head>


</html>
