<!DOCTYPE html>
<html>

    <head>
        <title>Login Page</title>
    </head>

	<form action="/loginAttempt" method="post">
		<label"><b>Username </b></label>
		<input type="text" name="username" required>
		</br></br>
		<label"><b>Password </b></label>
		<input type="password" name="password" required>
		</br></br>
		<input type="submit" value="LOGIN">
	</form>
  <br />
  <a href="/registrationScreen">Register</a>

</html>
