<!DOCTYPE html>
<html>

    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="style/login.css">
    </head>
<div style="text-align:center">
  <h1>PresentR</h1>
  <h4>Login</h4>
  <img src="https://r.hswstatic.com/w_907/gif/ripmspaint-1.jpg" >

	<form action="/loginAttempt" method="post">
		<label"><b>Username </b></label>
		<input type="text" name="username" required>
		</br></br>
		<label"><b>Password </b></label>
		<input type="password" name="password" required>
		</br></br>
		<input type="submit" value="LOGIN">
	</form>
  <br />
  <a href="/registrationScreen">Don't have an account? Register here</a>
  <p>
    By Charmaine Claudio, Fany Chen, Taran Gill, and Erica Long
  </p>

</div>

</html>
