<!DOCTYPE html>
<html>

    <head>
        <title>New User</title>
    </head>
	
	<div class="container">
		<form action="index.html">
			<label"><b>Username </b></label>
			<input type="text" name="username" required>
			</br></br>
			<label"><b>Password </b></label>
			<input type="password" name="password_1" required>
			</br></br>
			<label"><b>Retype Password </b></label>
			<input type="password" name="password_2" required>
			</br></br>
			<input type="submit" value="REGISTER">
		</form>
	</div>
    
</html>

