<!DOCTYPE html>
<html>

    <head>
        <title>New User</title>
        <link rel="stylesheet" href="style/login.css">
    </head>
<div style="text-align:center">
  <h1>PresentR</h1>
  <h3>Register</h3>
  <img src="https://r.hswstatic.com/w_907/gif/ripmspaint-1.jpg" >

	<div class="container">
		<form action="/register" method="post">
			<label"><b>Username </b></label>
			<input type="text" name="username" required>
			</br></br>
			<label"><b>Password </b></label>
			<input type="password" name="password" required>
			</br></br> <input type="submit" value="REGISTER">
		</form>
	</div>
</div>
</html>
