<!DOCTYPE html>
<html>

    <head>
        <title>New User</title>
    </head>

	<div class="container">
		<form action="/register" method="post">
			<label"><b>Username </b></label>
			<input type="text" name="username" required>
			</br></br>
			<label"><b>Password </b></label>
			<input type="password" name="password" required>
			</br></br> <input type="submit" value="REGISTER">
		</form>
	</div>

</html>
